# Variables
- Python is Dynamically Typed Language 
    - No need to assign variable data type
    
- Variables are used to store the values (Number, Float, String, Set, List, Tuple)
- We assign values to the variable with the help of equal(=) operator

In [1]:
number = 5
print(number)

5

In [2]:
number1 = 5
number2 = 10
print(number1)
print(number2)

5
10

In [3]:
number = 5
number

5

In [4]:
number1 = 5
number1
number2 = 10
number2

10

In [5]:
number1 = 5
print(number1)
number2 = 10
number2

5

10

In [7]:
number1 = 5
print("The value of number 1 is")
print(number1)
number2 = 10
print("The value of number 2 is")
print(number2)

The value of number 1 is
5
The value of number 2 is
10

In [8]:
type(number1)

int

In [9]:
number1 + number2

15

In [10]:
num1 = 1.5
num1

1.5

In [14]:
print(type(num1))

<class 'float'>

In [13]:
word = "Python"
print(type(word))

<class 'str'>

In [15]:
li = [1,2,3,4,5]
print(type(li))

<class 'list'>

In [16]:
tu = (1,2,3,4,5)
print(type(tu))

<class 'tuple'>

In [19]:
di = {"One":1}
print(type(di))

<class 'dict'>

In [20]:
set1 = {1,2,3}
print(type(set1))

<class 'set'>

# Rules to define Variables (Identifiers)
- Identifiers are nothing but the names of :- 
    - Variables
    - Function 
    - Classes
    
- 1. Variable name must starts with alphabet(A-Z,a-z) or Underscore(_)
- 2. Identifiers are Case Sensitive (Value, value, VALUE, valUE, VAlue)
- 3. All char may be alphanumeric (A-Z,a-z,0-9) or Underscore(_)
- 4. We can not use Special Characters (except _)   (@#$%^**!~|?><)
- 5. Space is not allowed 
- 6. Do not use reserved keywords (if, else, and, or, not, try, while)
- 7. Do not use python built in functions as identifiers (print,min,max,int,float,str)


- Bold Coloured >>> Reserved Keywords
- Light Coloured >>> Built in Functions

In [21]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [33]:
Var = 'Data Science'
var = "Machine Learning"
var1 = "NLP"
_var = "DL"

In [35]:
new var = 'Python'

SyntaxError: invalid syntax (4215931915.py, line 1)

In [36]:
new_var = 'Python'

In [37]:
Var
var
var1
_var
new_var

'Python'

In [39]:
Var = 'Data Science'
var = "Machine Learning"
var1 = "NLP"
_var = "DL"
new_var = "Python"
Var_1@ = 12

SyntaxError: invalid syntax (163463461.py, line 6)

In [44]:
Var_name* = 12

SyntaxError: invalid syntax (2175103713.py, line 1)

In [48]:
list1 = [1,2,3,4,5]
max(list1)

5

In [49]:
max = "Python and Data Science"

In [50]:
max

'Python and Data Science'

In [51]:
max(list1)

TypeError: 'str' object is not callable

In [54]:
min([1,2,3,4,45])

1

In [55]:
min = 500
min

500

In [57]:
type(min)

int

In [56]:
min([1,2,3,4,5])

TypeError: 'int' object is not callable

In [58]:
type(sum)

builtin_function_or_method

In [60]:
sum([1,2,3,4,5])
sum = 12
sum([1,2,3,4,5])

TypeError: 'int' object is not callable

In [61]:
type(sum)

int

# Types Of Variables
- 1. global variable = Variables which are declared out of the function
- 2. local variable  = Variables which are declared inside the function

- Global = We can access global variable from outside the function and inside the function
- Local = We can not access local variable from outside the function

In [62]:
def addition():
    a = 100
    b = 200
    print(a + b)
    
addition()

300

In [63]:
def addition():
    a = 100
    b = 200
    print(a + b)
    
addition()

print(a)

300

NameError: name 'a' is not defined

In [64]:
def addition():
    a = 100
    b = 200
    print(a + b)
    
addition()

print(b)

300

NameError: name 'b' is not defined

### Global Var

In [67]:
a = 500
b = 500

def addition():
    print(a + b)
    
addition()

1000

In [68]:
a = 500
b = 500

def addition():
    print(a + b)
    print(a - b)
    
addition()

1000
0

In [69]:
a = 500
b = 500

def addition():
    print(a + b)
    print(a - b)
    
addition()

print(a)

1000
0
500

In [71]:
a = 500
b = 500

def addition():
    print(a + b)
    print(a - b)
    
addition()

print(a)
print(b)

1000
0
500
500

In [72]:
def addition():
    global a 
    a = 150
    b = 250
    print(a + b)
    
addition()

400

In [76]:
def addition():
    global x1 
    x1 = 150
    x2 = 250
    print(x1 + x2)
    
addition()
print(x1)

400
150

In [77]:
def addition():
    global x1 
    x1 = 150
    x2 = 250
    print(a + b)
    
addition()
print(x2)

650

NameError: name 'x2' is not defined